<script>
    // variable init/ targetting for functionality
    let jsonObject;
    const hidePlaylist = $(".video-link");
    const localLink = $(".local-playlist");
    const updateLclLink = $(".update-local-playlist");
    const deleteBtn = $(".delete-button");
    const copyLocal = $(".copy-local");

    function retrievePlaylist() {
        let newPlaylist = localStorage.getItem("localPlaylist");
        var jsonObject = JSON.parse(newPlaylist);
        // console.log(jsonObject);

        // functionality for filling playlist container:
        // loop over each item in local storage playlist and create video cards for each item
        const playlistContainer = $(".local-playlist-cont");
        let count = -1;
        jsonObject.forEach(video => {
            const title = video.title;
            const videoId = video.id;
            const thumbnail = video.thumbnail;
            count++;
            playlistContainer.append(
                // I give add an arbitrary count to the videoId value to avoid any duplicate videos being targeted 
                `<div class="video-link local-link ${videoId + count}">
                        <h1>${title}</h1>
                        <h2>${videoId}</h2>
                        <img src="${thumbnail}" alt="${title}"></img>
                    </div>
                    <button class="local-deleteBtn" id="${videoId + count}">
                        Delete From Local playlist
                        </button>
                    `
            );
        });

        // functionality for deleting a video from the local playlist
        $(function () {
            $(document).on("click", ".local-deleteBtn", function (e) {
                // find index by looking for html id
                var $thisElement = $(this);
                var elementId = $thisElement.attr('id');
                console.log(elementId);
                //  Deletes the value denoted by the code above
                jsonObject.splice(elementId, 1);
                // hides both the Delete button and Content Div from display
                $($thisElement).addClass("hide");
                $(`.${elementId}`).addClass("hide");
            });
        });
        // Same issue with updating Local playlist as above
        $(document).on("click", ".update-local-playlist", function (e) {
            let newObject = JSON.stringify(jsonObject);
            console.log(newObject);
            localStorage.setItem("localPlaylist", newObject);
        });

        
        $(".copy-local").on("click", function (e) {
            if (jsonObject.length === 0) {
                return console.log("can't copy an empty array")
            };
            console.log("local copy click");
            $.post("http://localhost:3000/copy-local", { jsonObject: jsonObject },
            function (data, status) {
                    // window.location.replace("http://localhost:3000/video")
                    console.log("Data: " + data + "\nStatus: " + status);
                });
        });
    };

    // functionality responsible for showing the local playlist on btn click
    $(function () {
        $(".local-playlist").on("click", function (e) {
            retrievePlaylist();
            // these lines hide the local playlist when viewing the current playlist
            hidePlaylist.toggleClass("hide")
            deleteBtn.toggleClass("hide")
            localLink.toggleClass("hide")

            // this reveals the update tag on playlist.ejs
            copyLocal.toggleClass("hide")
            updateLclLink.toggleClass("hide")

        });
    });

</script>