<!-- Display that sends POST request clientside to Youtube API -->
    <!-- If request is ok then app route sends user to main.ejs rendering results.ejs -->
<body class="row">
    <a href="/" class="home-route row">
    <h1 class="fs-2 my-3">Music Saver</h1>
    </a>
    <form class="text-center row" action="/search" method="POST">
        <input class="form col-7 search-form ms-2 me-1" type="text" placeholder="Search"
        aria-label="default input" name="video">
        <input class=" col-1 btn btn-dark srch-btn" type="submit" value="ðŸ”">
        <label for="video" class="form-label cust-label hide">Video</label>
    </form>
</body>