<script>
    // POST request made for youtube API for deleting a single youtube video from playlist
    // functionality is in localPlaylist, Playlist, and results.ejs
    $(function () {
        $(document).on("click", ".delete-button", function (e) {
            var $thisElement = $(this);
            var elementId = $thisElement.attr('id');
            console.log(elementId);
            // $(".delete-notice").prepend(`<h1> was removed from current playlist</h1>`)
            $.post("https://music-saver-3b51d79cbfa1.herokuapp.com/remove", { video: elementId });
            // refreshes the page to show user change in website
            window.location.replace("http://localhost:3000/playlist")
        });
    });


    $(function () {
        $(document).on("click", ".empty-current", function (e) {
            // $(".delete-notice").prepend(`<h1> was removed from current playlist</h1>`)
            $.get("https://music-saver-3b51d79cbfa1.herokuapp.com/delete-playlist", function () {
                console.log("success, current playlist deleted");
                // refreshes the page to show user change in website
                location.reload();
            });
        });
    });




</script>