<script>
    // POST request made for youtube API for deleting a single youtube video from playlist
    // functionality is in localPlaylist, Playlist, and results.ejs
    $(function () {
        $(document).on("click", ".delete-button", function (e) {
            var $thisElement = $(this);
            var elementId = $thisElement.attr('id');
            console.log(elementId);
            // $(".delete-notice").prepend(`<h1> was removed from current playlist</h1>`)
            $.post("http://localhost:3000/remove", { video: elementId },
                function (data, status) {
                    console.log("Data: " + data + "\nStatus: " + status);
                });
                // refreshes the page to show user change in website
                window.location.replace("http://localhost:3000/playlist")
        });
    });



</script>