<body>
    <div class="single-video">
        <h2><%= video.id.videoId %></h2>
        <h1><%= video.snippet.title %></h1>
        <div class="video-player"></div>
        <%-video.player.embedHtml %>
    </div>

</body>
