<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Saver</title>
</head>
<body>

    <h1>Test H1 Header</h1>
    <form class="text-center pt-2 form-body border border-5 rounded-5" action="/search" method="POST">
        <label for="video" class="form-label cust-label ">Video</label>
        <input class="form-control border border-1 rounded-0 myText" type="text" placeholder="Default input" aria-label="default input example" name="video">
        <input class="btn btn-primary btn-lg my-3 create-button " type="submit" value="search video">
      </form>
</body>
</html>