<body>
    <%- include("components/srchForm.ejs") %>
    <!-- functionality for youtube API -->
        <%- include("components/apiLoad.ejs") %>
            <%- include("components/searchFunc.ejs") %>
            <!-- Display for Search Functionality Results -->
</body>