:root {
    --myCyan: #30BCED;
    --myJet: #303036;
    --myWhite: #FFFAFF;
    --myRed: #FC5130;
    --myBlack: #050401;
}

/* Class Tied to eventlistener in LocalStorage.ejs */
.hide {
    display: none;
}

.main {
    background-color: var(--myJet);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* srchForm.ejs */

.home-route {
    text-decoration: none;
    color: var(--myCyan);
}

.srch-btn {
    background-color: var(--myBlack);
}

/* main.ejs */

.view-link {
    text-decoration: none;
    color: var(--myCyan);

}

/* results.ejs */

.video-card {
    width: 70%;
}

.srch-res {
    color: var(--myWhite);
}